<form #userForm="ngForm" (ngSubmit)="submit()">
<mat-card class="cabecera-admin">
    <div class="titulo">
        <mat-label>Crear Usuario</mat-label>
      </div>
  <mat-card-header class="header">    
    <mat-form-field class="input">
      <input [(ngModel)]="formModel.nombre" #nombre="ngModel"  matInput placeholder="nombre" required name="nombre">       
    </mat-form-field>  
    <mat-form-field class="input">
      <input [(ngModel)]="formModel.email" #email="ngModel"  matInput placeholder="email" required name="email">
    </mat-form-field>
    <mat-form-field class="input">
        <input [(ngModel)]="formModel.password" #password="ngModel" matInput placeholder="password" required name="password">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Seleccione Grupo</mat-label>
        <mat-select name="group" [(ngModel)]="formModel.group" required #group="ngModel">
            <mat-option value="">Seleccione</mat-option>
            <mat-option *ngFor="let group of groups" [value]="group.id">{{group.value}}</mat-option>         
        </mat-select>              
    </mat-form-field>
    <div class="boton-crear">
        <mat-card-actions>
      <button mat-raised-button>Crear</button>    
      </mat-card-actions>
    </div>
  </mat-card-header>
  <mat-card-content class="content-admin">
      <mat-list>  
            <span class="email"*ngFor="let user of users" > {{user.nombre}} </span>
        </mat-list>
  </mat-card-content>
</mat-card>
</form>

